<h1>Sign Up Confirmation</h1>
<h4>Are you sure these values are correct?</h4>

<p>
  Email: <%= params[:user][:email] %>
</p>
<p>
  Name: <%= params[:user][:name] %>
</p>

<div class="btn-block">
  <div class="btn">
    <%= button_to "Yes", {:controller => "users", :action => "create", :params => params},class: 'btn btn-success' %>
  </div>
  <div class="btn">
    <%= link_to "No", new_user_path, class: 'btn btn-default', style: 'padding-color: gray' %>
  </div>

</div>
