<h1>About Bloccit</h1>
<p>Created by: Steven</p>
<%= link_to "Follow me", "https://www.linkedin.com/profile/view?id=AAMAABfWfZ0Be-nzT2ODoKrPvpUjRGR1yHfBrJg&trk=hp-identity-name", class: "social-btn" %>
