// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gravatar {
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: -10px;
}

.right-border {
  border-right: solid 2px #ddd;
}
 div.col-md-6.pad-left {
   padding-left: 30px;
 }
