<% if current_user %>
  <div class="pull-left vote-arrows">
    <div><%= link_to " ", post_up_vote_path(post), class: "glyphicon glyphicon-chevron-up #{disable_if_upvoted(current_user, post)}", method: :post, remote: true %></div>
    <div><strong><%= post.points %></strong></div>
    <div><%= link_to " ", post_down_vote_path(post), class: "glyphicon glyphicon-chevron-down #{disable_if_downvoted(current_user, post)}", method: :post, remote: true %></div>
  </div>
<% end %>
